.hero{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap:1rem;
    margin-top:2rem;
    user-select: none;
    position: relative;
}

.my_name{
    background: linear-gradient(100deg, var(--Black)30%, var(--Light-black));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__title_div{
    margin-top: 1.5em;
    text-align: center;
    /* font-family: poppins-regular,code-next-bold, Neuehaa,"Open sans", "Arial", sans-serif; */
}

.hero__title{
    font-size:var(--size-6xl);
    color: var(--Black);
}

.hero__my_description{
    font-size:var(--size-2xl);
    line-height: 1.5em;
    color: var(--Black);
}

.hero__description_div{
    margin-top: 1.5em;
}

/* xs */
@media screen and (min-width: 475px) {

}
/* sm */
@media screen and (min-width: 640px) {
}
/* md */
@media screen and (min-width: 768px) {
    .hero{
        justify-content: space-evenly;
    }

    .hero__title{
        font-size:var(--size-8xl);
    }

    .hero__my_description{
        font-size:var(--size-3xl);
        line-height: 1.7em;
    }
}

/* lg */
@media screen and (min-width: 1024px) {

}
/* xl */
@media screen and (min-width: 1280px) {

}
/* 2xl */
@media screen and (min-width: 1536px) {

}

